services:
  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server

  server:
    build: ./server
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/bienestar_db
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - ./server/.env

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=bienestar_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
